@page "/order/simplesalesorder";



@if (formDefinition != null && formDefinition.Children.Count > 0)
{

    @if (isSaving)
    {
        <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-7" />
    }

    @if (isItemPopupShown)
    {
        <div class="dxflex">
            <div class="formdef">
                <UIRenderere FromSection="modalUIElement" DataObject="order.SelectedOrderItem" InteractionLogics="_interactionLogic" ObjectHelpers="_objectHelpers" />
            </div>
            <div class="tdef mt-5">
            </div>
        </div>
    }
    <div class="dxflex @(isItemPopupShown || isClickSaveButton ? "d-none":"")">
        <div class="formdef">


            <UIBuilder FormObject="formDefinition" DataObject="order" InteractionLogics="_interactionLogic" ObjectHelpers="_objectHelpers" />
        </div>
        <div class="tdef mt-5">
            <MudTable Items="@order.OrderItems" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@tableloading"
                  LoadingProgressColor="Color.Info" CustomFooter="true" Dense="true" FixedHeader="true" FixedFooter="true" Height="400px">
                <HeaderContent>
                    <MudTh>#</MudTh>
                    <MudTh>Image</MudTh>
                    <MudTh>Item Name</MudTh>
                    <MudTh>Order Location</MudTh>
                    <MudTh Style="text-align:right">Confirmed</MudTh>
                    <MudTh Style="text-align:right">IsTransfer</MudTh>
                    <MudTh Style="text-align:right">Trn Rate</MudTh>
                    <MudTh Style="text-align:right">Trn Qty</MudTh>
                    <MudTh Style="text-align:right">Req Qty</MudTh>

                    <MudTh Style="text-align:right">Dis(%)</MudTh>
                    <MudTh Style="text-align:right">Dis Amt</MudTh>
                    <MudTh Style="text-align:right">Vat</MudTh>

                    <MudTh Style="text-align:right">Line Total</MudTh>

                    <MudTh Style="text-align:right">Actions</MudTh>
                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="#">@context.LineNumber</MudTd>
                    <MudTd DataLabel="Image"><img src="https://bl360x.com/BLECOMTEST/images/product_images/@(context.TransactionItem.ItemName.Trim()).jpg" style="width:75px" /></MudTd>

                    <MudTd DataLabel="Item Name">@context.TransactionItem.ItemName</MudTd>
                    <MudTd DataLabel="Location">@context.OrderLineLocation</MudTd>
                    <MudTd Style="text-align:right" DataLabel="Confirmed">
                        @if (context.IsTransferConfirmed == 0)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Secondary" Class="ma-0">No</MudButton>
                        }
                    @if (context.IsTransferConfirmed == 1)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success" Class="ma-0">Yes</MudButton>
                        }
                    @if (context.IsTransferConfirmed == 2)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default" Class="ma-0">N/A</MudButton>
                        }

                </MudTd>
                <MudTd Style="text-align:right" DataLabel="Is Transfer">
                    @if (context.IsTransfer == 0)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Secondary" Class="ma-0">No</MudButton>
                        }
                    @if (context.IsTransfer == 1)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success" Class="ma-0">Yes</MudButton>
                        }
                    @if (context.IsTransfer == 2)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default" Class="ma-0">N/A</MudButton>
                        }

                </MudTd>
                <MudTd Style="text-align:right" DataLabel="Transaction Rate">@context.TransactionRate.ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Quantity">@context.TransactionQuantity.ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="RequestedQty">@context.RequestedQuantity.ToString("N2")</MudTd>

                <MudTd Style="text-align:right" DataLabel="Dis(%)">@context.DiscountPercentage.ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Dis Amts">@context.GetLineDiscount().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Vat">@context.GetItemTaxType1().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Line Total">@context.GetLineTotalWithTax().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Actions">
                    <div class="d-flex">

                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Size="Size.Small" Class="ma-2 mr-2" OnClick="()=>OnOrderItemEdit(context.LineNumber-1)" Color="Color.Info" />
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Size="Size.Small" Class="ma-2" OnClick="()=>OnOrderItemDelete(context)" Color="Color.Error" />
                    </div>


                </MudTd>

            </RowTemplate>

            <FooterContent>
                <MudTFootRow Class="alert-primary">
                    <MudTd colspan="6">Total</MudTd>

                    <MudTd Style="text-align:right">@order.GetOrderRateTotal().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetQuantityTotal().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetRequestedQuantityTotal().ToString("N2")</MudTd>
                    <MudTd></MudTd>
                    <MudTd Style="text-align:right">@order.GetOrderDiscountTotal().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetTotalTaxType1().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetOrderTotalWithTaxes().ToString("N2")</MudTd>
                    <MudTd></MudTd>
                </MudTFootRow>
            </FooterContent>
        </MudTable>
    </div>
</div>


    <div class="@(!isClickSaveButton?"d-none":"")">

        <div class="success-wrapper">

        @if(isClickSaveButton){
        <BL10.Com.Client.Pages.Reports.SalesOrderReport  ReportOrder="@order" CompanyInofrmation="reportCompanyDetailsResponse"/>
        }

        </div>

        <div class="success-footer border-top">

        <MudIconButton Icon="@Icons.TwoTone.Print" Title="Print"></MudIconButton>
        <MudIconButton Icon="@Icons.TwoTone.Share" Title="Share" Class="mr-auto"></MudIconButton>

        <MudButton Class="done" @onclick="Done">
        Done
        </MudButton>
        </div>

        </div>

}
else
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">Please wait while we fetch form definitons...</MudAlert>
}

<MudMessageBox @ref="addItem" Title="Warning">
    <MessageContent>

    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error">Ok</MudButton>
    </YesButton>
</MudMessageBox>