@page "/order/salesordernb"

@using BlueLotus360.Com.UI.Definitions.Pages.Reports

@if (formDefinition != null && formDefinition.Children.Count > 0)
{

    @if (isItemPopupShown)
    {
        <div class="dxflex">
            <div class="formdef">
                <MudContainer Style="overflow-y: scroll; max-height:450px;padding:16px;" Class="dc2">
			        <MudList Clickable="false">
			        	@foreach (var item in validator.UserMessages.UserMessages)
			        	{
			        		<MudListItem Style="Color:darkred"  Text="@item.Message"   Icon="@Icons.Material.Filled.Error" />
			        	}
			        </MudList>
			         <UIRenderere FromSection="modalUIElement" DataObject="order.SelectedOrderItem" InteractionLogics="_interactionLogic" ObjectHelpers="_objectHelpers" />
		        </MudContainer>
               
            </div>
            <div class="tdef mt-5">
            </div>
        </div>
    }

  
    <div Class="dxflex @(isItemPopupShown || isClickSaveButton||isEditPopupShown ? "d-none":"")">
        <MudGrid>
            <MudItem md="11">
                <UIBuilder FormObject="formDefinition" DataObject="order" InteractionLogics="_interactionLogic" ObjectHelpers="_objectHelpers" />
            </MudItem>
            <MudItem md="1" Style="padding-top:95px;">
                <MudFab Icon="@Icons.TwoTone.QrCodeScanner" Color="Color.Primary" OnClick="onScan"></MudFab>
            </MudItem>
        </MudGrid>
        
        <div class="tdef mt-5">
            <MudTable Items="@order.OrderItems" Hover="true" Breakpoint="Breakpoint.Sm" Loading="@tableloading"
                  LoadingProgressColor="Color.Info" CustomFooter="true" Dense="true" FixedHeader="true" FixedFooter="true" Height="400px">
                <HeaderContent>
                    <MudTh>#</MudTh>
                    <MudTh>Image</MudTh>
                    <MudTh>Item Name</MudTh>
                    <MudTh>Order Location</MudTh>
                    <MudTh Style="text-align:right">Confirmed</MudTh>
                    <MudTh Style="text-align:right">IsTransfer</MudTh>
                    <MudTh Style="text-align:right">Trn Rate</MudTh>
                    <MudTh Style="text-align:right">Trn Qty</MudTh>
                    <MudTh Style="text-align:right">Req Qty</MudTh>

                    <MudTh Style="text-align:right">Dis(%)</MudTh>
                    <MudTh Style="text-align:right">Dis Amt</MudTh>
                    <MudTh Style="text-align:right">VAT</MudTh>
                    <MudTh Style="text-align:right">SVAT</MudTh>
                    <MudTh Style="text-align:right">Line Total</MudTh>

                    <MudTh Style="text-align:right">Actions</MudTh>
                </HeaderContent>

                <RowTemplate>
                    @if(context.IsActive==1){

                    <MudTd DataLabel="#">@context.LineNumber</MudTd>
                    <MudTd DataLabel="Image"><img src="https://bl360x.com/BLECOMTEST/images/product_images/@(context.TransactionItem.ItemName.Trim()).jpg" style="width:75px" /></MudTd>

                    <MudTd DataLabel="Item Name">@context.TransactionItem.ItemName</MudTd>
                    <MudTd DataLabel="Location">@context.OrderLineLocation</MudTd>
                    <MudTd Style="text-align:right" DataLabel="Confirmed">
                        @if (context.IsTransferConfirmed == 0)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Secondary" Class="ma-0">No</MudButton>
                        }
                    @if (context.IsTransferConfirmed == 1)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success" Class="ma-0">Yes</MudButton>
                        }
                    @if (context.IsTransferConfirmed == 2)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default" Class="ma-0">N/A</MudButton>
                        }

                </MudTd>
                <MudTd Style="text-align:right" DataLabel="Is Transfer">
                    @if (context.IsTransfer == 0)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Secondary" Class="ma-0">No</MudButton>
                        }
                    @if (context.IsTransfer == 1)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Success" Class="ma-0">Yes</MudButton>
                        }
                    @if (context.IsTransfer == 2)
                        {
                        <MudButton Variant="Variant.Outlined" Size="Size.Small" Color="Color.Default" Class="ma-0">N/A</MudButton>
                        }

                </MudTd>
                <MudTd Style="text-align:right" DataLabel="Transaction Rate">@context.TransactionRate.ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Quantity">@context.TransactionQuantity.ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="RequestedQty">@context.RequestedQuantity.ToString("N2")</MudTd>

                <MudTd Style="text-align:right" DataLabel="Dis(%)">@context.DiscountPercentage.ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Dis Amts">@context.GetLineDiscount().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Vat">@context.GetItemTaxType1().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="SVat">@context.GetItemTaxType4().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Line Total">@context.GetLineTotalWithTax().ToString("N2")</MudTd>
                <MudTd Style="text-align:right" DataLabel="Actions">
                    <div class="d-flex">

                        <MudIconButton Icon="@Icons.Material.Filled.Edit" Variant="Variant.Outlined" Size="Size.Small" Class="ma-2 mr-2" OnClick="()=>{OnOrderItemEdit(context.LineNumber-1);}" Color="Color.Info" />
                        <MudIconButton Icon="@Icons.Material.Filled.Delete" Variant="Variant.Outlined" Size="Size.Small" Class="ma-2" OnClick="()=>OnOrderItemDelete(context)" Color="Color.Error" />
                    </div>


                </MudTd>
              }

            </RowTemplate>

            <FooterContent>
                <MudTFootRow Class="alert-primary">
                    <MudTd colspan="6">Total</MudTd>

                    <MudTd Style="text-align:right">@order.GetOrderRateTotal().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetQuantityTotal().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetRequestedQuantityTotal().ToString("N2")</MudTd>
                    <MudTd></MudTd>
                    <MudTd Style="text-align:right">@order.GetOrderDiscountTotal().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetTotalTaxType1().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetTotalTaxType4().ToString("N2")</MudTd>
                    <MudTd Style="text-align:right">@order.GetOrderTotalWithTaxes().ToString("N2")</MudTd>
                    <MudTd></MudTd>
                </MudTFootRow>
            </FooterContent>
        </MudTable>
    </div>
</div>


    <div class="@(!isClickSaveButton?"d-none":"")">

        <div class="success-wrapper">

        @if(isClickSaveButton){
            <SalesOrderReport  ReportOrder="@order" CompanyInofrmation="reportCompanyDetailsResponse"/>
        }

        </div>

        <div class="success-footer border-top">

       @* <MudIconButton Icon="@Icons.TwoTone.Print" Title="Print"></MudIconButton>
        <MudIconButton Icon="@Icons.TwoTone.Share" Title="Share" Class="mr-auto"></MudIconButton>*@

        <MudButton Class="done" @onclick="Done">
            Done
        </MudButton>
        </div>

    </div>
  
    <AddNewAddress  OnAddressCreated="OnCustomerCreateSuccess"   @ref="_refNewAddressCreation"  />
    
    
    @if (FindOrderShown)
    {
        <div class="bl-pop-up @(FindOrderShown ? "":"d-none")">

            <FindOrder UIElement="findOrderUI"
                         OnCloseButtonClick="HideAllPopups"
                         OnOpenClick="LoadOrder" />



        </div>

    }
     @if (FindGetFromQuoteShown)
    {
        <div class="bl-pop-up @(FindGetFromQuoteShown ? "":"d-none")">

            <GetFromQuotation UIElement="getFromQuoteUI"
                         OnCloseButtonClick="HideAllPopups"
                         OnOpenClick="LoadOrderFromQuotation" />



        </div>

    }

    //Telerik Report viewer
    @if (ReportShown){
                <div class="bl-pop-up pl-12 mx-2@(ReportShown ? "":"d-none")">
                    <MudGrid>
                        <MudItem xs=12 class="price-list-wrap">
                           <BLReportViewer ReportSetting="_salesOrderReportOption" 
                           CloseReportDelegate="@(()=>{ReportShown=false;})"/>
                        </MudItem>
                    </MudGrid>
                    <hr />
                </div>
       }

       <MudDialog @bind-IsVisible="IsLessQuantityShown"  DisableSidePadding="true">
            <TitleContent>
                <MudText Typo="Typo.h6">
                    <MudIcon Icon="@Icons.Material.Filled.Info" Class="mr-3"/> 
                </MudText>
            </TitleContent>
            <DialogContent>
               <MudContainer Style="max-height: 100px; overflow-y: scroll;" Class="pa-3">

                        <MudText Style="white-space: pre-wrap;">Some Items can't be added with full amount, because their available quantities in the related location are less than the transaction quantities</MudText>
                    
                </MudContainer>
            </DialogContent>
            <DialogActions>
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@CloseDialogForLessQuantity" Class="px-10">Close</MudButton>
            </DialogActions>
        </MudDialog>

         @*Edit pop up*@

            <OrderItemTelPopUp OrderItem="@order.SelectedOrderItem"
                            ModalUIElement="@editUIElement"
                            ButtonName="Update"
                            HeadingPopUp="Edit"
                            InteractionLogics="_interactionLogic"
                            ObjectHelpers="_objectHelpers"
                            ParentLocation="@order.OrderLocation"
                            Validaor="validator"
                            LineItemEdit="LineItemEdit"
                            ClosePopUp="@(()=>{isEditPopupShown=false;})"
                            IsEditPopShown="@isEditPopupShown"
                            />

       

}
else
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">Please wait while we fetch form definitons...</MudAlert>
}

<MudMessageBox @ref="addItem" Title="Warning">
    <MessageContent>

    </MessageContent>
    <YesButton>
        <MudButton Variant="Variant.Filled" Color="Color.Error">Ok</MudButton>
    </YesButton>
</MudMessageBox>