@page "/dashboard/salesByLocation"
@using ApexCharts;

@if (formDefinition != null && formDefinition.Children.Count > 0)
{ 


    @if (isChartLoading)
    {
        <MudProgressLinear Color="MudBlazor.Color.Primary" Indeterminate="true" Class="my-7" />
    }
 
    <UIBuilder FormObject="formDefinition"
                   DataObject="sales_request"
                   InteractionLogics="_interactionLogic"
                   ObjectHelpers="_objectHelpers"
                   @ref="_refBuilder" />

    <MudGrid Class="d-flex my-3">
@*        <MudItem xs="12" sm="6" md="3" >
            <MudCard Style="height:160px">
                

                    <MudCardHeader>

                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">CASH</MudText>
                    </CardHeaderContent>
                    
                    </MudCardHeader>

                    <MudCardContent>

                            <MudText Typo="Typo.body2" Color="MudBlazor.Color.Primary">@(salesResponse.Sum(x=>x.CashAmt).ToString("N2"))</MudText>

                    </MudCardContent>
           

                
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="3" >
            <MudCard Style="height:160px">
                <MudCardHeader>

                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">CARD</MudText>
                    </CardHeaderContent>
                    
                </MudCardHeader>

                <MudCardContent>
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Primary">@(salesResponse.Sum(x=>x.CardAmt).ToString("N2"))</MudText>
                </MudCardContent>
                
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
            <MudCard Style="height:160px">
                <MudCardHeader>

                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">OTHER</MudText>
                    </CardHeaderContent>
                    
                </MudCardHeader>

                <MudCardContent>
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Primary">@(salesResponse.Sum(x=>x.OtherAmt).ToString("N2"))</MudText>
                </MudCardContent>
                
            </MudCard>
        </MudItem>

        <MudItem xs="12" sm="6" md="3" >
            <MudCard Style="height:160px">
                <MudCardHeader>

                    <CardHeaderContent>
                        <MudText Typo="Typo.h6">TOTAL CUSTOMERS</MudText>
                    </CardHeaderContent>
                    
                </MudCardHeader>

                <MudCardContent>
                    <MudText Typo="Typo.body2" Color="MudBlazor.Color.Secondary">@(salesResponse.Select(p=>p.TotalNewCustomers).FirstOrDefault().ToString("N2"))</MudText>
                </MudCardContent>
                
            </MudCard>
        </MudItem>*@

        <MudItem xs="12" sm="6" >

            <MudPaper Class="sales-by-loc-chart-container" >
                @if (salesBylocation.Count() > 0)
                {
                    <ApexChart @ref=_detailsChart TItem="SalesByLocationResponse"
                                                            Title="Location Wise Total Sales"
                                                            Options="@opt"
                                                            Debug>

                                                        <ApexPointSeries TItem="SalesByLocationResponse"
                                                             Items="salesBylocation"
                                                             Name="Stocks"
                                                             SeriesType="SeriesType.Donut" 
                                                             XValue="@(e => e.Location.CodeName)"
                                                             YValue="@(e => e.TotalSalesAmt)"
                                                             OrderByDescending="e=>e.X"/>

                   </ApexChart>
                }
                else{
                  
                       <EmptyChart @ref="empty_chart" IsChartEmpty=true/>
 
                }
            </MudPaper>
        </MudItem>

        <MudItem xs="12" sm="6">
            
                <MudTable Items="@salesBylocation" FixedHeader="@fixed_header"  Height="400px">
                    <HeaderContent>
                        <MudTh>Location</MudTh>
                        <MudTh><MudTableSortLabel InitialDirection="SortDirection.Ascending" SortBy="new Func<SalesByLocationResponse, object>(x=>x.TotalSalesAmt)">Total</MudTableSortLabel></MudTh>
                        
                    </HeaderContent>
                    <RowTemplate>
                        <MudTd DataLabel="Location">@context.Location</MudTd>
                        <MudTd DataLabel="Total">@context.TotalSalesAmt.ToString("N2")</MudTd>
                        
                    </RowTemplate>
                    
                </MudTable>
            
        </MudItem>

        <MudItem xs="12">
            <MudPaper Style="height:300px;">
                <MudSimpleTable  Hover="true" FixedHeader="@fixed_header"  Style="@(fixed_header?"height:300px;":"")">
                    <thead>
                        <tr>
                            <th>Sales Rep</th>
                            <th>Grs - Dis</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in repDetails)
                        {
                            <tr>
                                    <td>@row.RepAdrName</td>
                                    <td>@((row.GrsAmt-row.DisAmt).ToString("N2"))</td>
                                    <td>@row.Total.ToString("N2")</td>
                            </tr>
                        }
                    </tbody>
                    
                    
                </MudSimpleTable>
            </MudPaper>
            
        </MudItem>


    </MudGrid>

        
}
else
{
    <MudAlert Severity="Severity.Info" Variant="Variant.Outlined">Please wait while we fetch form definitons... Class="d-flex align-items-center"</MudAlert>
}

