
<MudItem xs="12" Class=@css_class md="@UIElement.Width">
    @if (UnitResponses == null)
    {
        <MudSkeleton Animation="Animation.Wave" Width="100%" />
    }
    else
    {
        @if(selectedUnit != null){
        <div class="w-100">
            <div class="col-12">
                    <TelerikTooltip TargetSelector=".tooltip-target" />
                    <div class="bk-k-lable tooltip-target" title="@UIElement.ElementCaption">@UIElement.ElementCaption</div>
            </div>
            <div class="col-12">
                <TelerikComboBox Data="@UnitResponses" TextField="UnitName" ValueField="UnitKey"
                             TValue="long" TItem="UnitResponse"
                             ValueChanged="(long  s)=>OnComboValueChangedTel(s)"
                             Value="selectedUnit.UnitKey"
                             FilterOperator="Telerik.Blazor.StringFilterOperator.Contains"
                             Filterable="true"
                             ClearButton="true"
                             Class="@combo_css">
                </TelerikComboBox>

            </div>
        </div>

        }

    }
</MudItem>


