
<MudGrid class="pop-up-wrap mx-auto">
    
    <div class="pop-up-ui">
        @if (formDefinition!=null)
        {
            <MudText Typo="Typo.h6">Find</MudText>
            <MudDivider DividerType="DividerType.Middle" Class="my-2"></MudDivider>
             <UIRenderere DataObject="order"
                     FromSection="formDefinition"
                     InteractionLogics="InteractionLogics"
                     ObjectHelpers="ObjectHelpers" />
        }
       
        <hr />
        @if (FoundOrders!=null && FoundOrders.Count()>0)
        {
          <div class="tdef">
            <MudTable Items="@FoundOrders" Hover="true" Breakpoint="Breakpoint.Sm" Loading="false"
                      LoadingProgressColor="Color.Info"
                      CustomFooter="true" Dense="true"
                      FixedHeader="true"
                      FixedFooter="true"
                      Height="400px"
                      @ref="_table" >

                <HeaderContent>
                    <MudTh>TrnKy</MudTh>
                    <MudTh>TrnNo</MudTh>
                    <MudTh Style="text-align:right">TrnDate</MudTh>
                    <MudTh Style="text-align:right">DocNO</MudTh>
                    <MudTh Style="text-align:right">YurRef</MudTh>
                    <MudTh Style="text-align:right">Actions</MudTh>
                    


                </HeaderContent>

                <RowTemplate>
                    <MudTd DataLabel="TrnKy">@context.OrderKey</MudTd>
                    <MudTd DataLabel="TrnNo">@context.OrderNumber</MudTd>
                    <MudTd DataLabel="TrnDate">@context.OrderDate</MudTd>
                    <MudTd DataLabel="DocNo">@context.DocumentNumber</MudTd>
                    <MudTd DataLabel="YurRef">@context.YourReference</MudTd>
                        <MudTd Style="text-align:right" DataLabel="Actions">
                            <div class="" Style="text-align:right">
                                <MudIconButton Icon="@Icons.Material.Filled.OpenInFull" Variant="Variant.Outlined" Size="Size.Small" Class="ma-2" Color="Color.Error" OnClick="()=>OpenTransaction(context)" />
                            </div>


                        </MudTd>
                    

                </RowTemplate>



            </MudTable>
        </div>
        }
       
    </div>


</MudGrid>


